// Portal v0.1 aside navigation
.portal-aside {
	display: flex;
	flex-direction: column;
	width: 3.3rem;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 40;
	height: 100vh;
	padding: 0;
	box-shadow: none;
	border-right: 1px solid rgba(255, 255, 255, 0.1);
	background-color: $black;
	.menu-list a {
		color: $grey-light;
		border-radius: 0;
		&.is-active,
		&:hover {
			color: $white;
		}
		&:hover:not(.is-active) {
			background: $black-ter;
			color: $white;
		}
	}
}

@include from($tablet) {
	.has-portal-aside,
	.navbar.is-fixed-bottom {
		padding-left: 3.3rem;
	}
}
