.field-search {
  border: 1px solid $input-border-color;
  @include box-shadow($input-shadow);
  @if $dark-mode {
    background: $black-bis;
  } @else {
    background: $white;
  }
  @extend .is-rounded;
  .input, .button {
    border: none;
    background: transparent;
    @include box-shadow(none);
  }
  &.is-active {
    border-color: $input-focus-border-color;
    @if $dark-mode {
      @include box-shadow($input-focus-box-shadow-size rgba($primary-darkMode, 0.5));
      span.icon { color: $primary-darkMode; }
    } @else {
      @include box-shadow($input-focus-box-shadow-size $input-focus-box-shadow-color);
      span.icon { color: $primary; }
    }
  }
  &.is-small {
    .input { @extend .is-normal; }
    .button { @extend .is-size-small; }
  }
  &.is-grouped.is-small {
    .input { padding-left: 1.5em; }
    span.icon { width: 1.5em; }
  }
}