@mixin legend($bgColor) {
  fieldset {
    position: relative;
    legend {
      border-radius: $radius-rounded;
      background: $bgColor;
      padding: 0.5em 1.5em;
      z-index: 1;
      position: relative;
      letter-spacing: 0.5px;
      font-weight: 500;
      font-size: $size-7;
      text-transform: uppercase;
      text-align: right;
      margin-bottom: 2em;
    }
    &:after {
      position: absolute;
      height: 1px;
      width: 100%;
      content: "";
      left: 0;
      top: 1em;
      z-index: 0;
      background: $bgColor;
    }
  }
}

@if $dark-mode {
  @include legend($black);
} @else {
  @include legend($grey-lighter);
}
