// Links
a {	@extend .is-clickable; }

a.link, span.link,
.content a,
.notification a:not(.button):not(.dropdown-item),
.table a, tr.is-selected a {
	border-bottom-width: 0.2em;
  border-bottom-style: solid;
  outline: transparent solid 0.15rem;
	transition: all 150ms ease 0s;
  text-decoration: none;
	&.button, &.icon {
		border: none;
	}
	&:hover {
		transition-duration: 50ms;
    border-bottom-width: 0.4em;
		cursor: pointer;
	}
}

@mixin links($color, $borderColor, $colorHover) {
	a.link, span.link,
	.content a,
	tr.is-selected a,
	tr a:not(.icon),
	tr a:not(.button) {
		color: $color;
		border-bottom-color: $borderColor;
		&:hover {
			color: $colorHover;
		}
	}
}

@if $dark-mode {
	@include links($primary-darkMode, $grey-darkest, $white);
} @else {
	@include links($text, $primary-lighter, $link);
}

.content {
	h1, h2, h3, h4, h5, h6 {
		a {
			@if $light-mode {
				color: $grey-darker;
			}
		}
	}
}