.modal {
  position: fixed;
  z-index: 99;
  &-close {
  	position: fixed;
  	right: $modal-close-right;
  	top: $modal-close-top;
  }
  &-content,
  &-card {
    @extend .has-shadow--small;
  }
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .modal-background {
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
  }
}