.tree {
	// Panel Tree
	&.panel {
		.panel-block {
			border: none;
			min-height: 40px;
			padding-top: 0;
			padding-bottom: 0;
			&.level--1 {
				@include tree-level--1();
			}
			&.level--2 {
				@include tree-level--1();
				@include tree-level--2();
			}
		}
	}

	// Table tree
	&.table {
		tr {
			&.level--1 {
				td:first-child {
					@include tree-level--1();
				}
			}
			&.level--2 {
				td:first-child {
					@include tree-level--1();
					@include tree-level--2();
				}
			}
		}
	}
}