$types: (absolute, relative, fixed, sticky);
$sides: (top, bottom, left, right);

@each $type in $types {
  .is-#{$type} {
    position: #{$type};
  }
}

@each $side in $sides {
  @if $side== "top" {
    .is-#{$side} {
      #{$side}: 0;
    }
    .is-#{$side}-55 {
      #{$side}: 55px;
    }
  } @else {
    .is-#{$side} {
      #{$side}: 0;
    }
  }
}

.is-absolute {
  &.is-x-centered {
    @include is-x-centered();
  }
  &.is-xy-centered {
    @include is-xy-centered();
  }
}

.is-page-centered {
  height: 100vh;
  padding: 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
