// Tooltip
span[data-tooltip].icon,
span[data-tooltip].is-clickable:not(.button),
span[data-tooltip].tag {
	@extend .is-borderless;
}

span[data-tooltip].is-clickable.button {
	border-style: solid;
}

.has-tooltip-multiline {
	text-overflow: clip;
  white-space: normal;
  word-break: keep-all;
}